<div class="tcent bmar25 tmar25 tpad0">
  <%= link_to "", root_path, class: "glyphicon glyphicon-home nodec ccfont" %>
</div>
<div class="ht150 zminus2 bmar0 bpad0">
  <div class="font3rem row blackback whitefont ralefont lpad50 tpad50 bpad50 zminus2 wid100per rmar0 rpad50 lmar0">
    <div class="col-md-8 dispin">Need Help? Contact Us:<br>
      <div class="font2rem whitefont ralefont tmar25 bmar10">Find out what we can do for you.
      </div>
    </div>
    <div class="col-md-4 rmar0 rpad0 tcent tmar0 tpad0 dispin">
      <%= link_to "Request a Quote", welcome_contact_path, class: "font2point5rem btn blackbutton hvr hvr-sweep-to-right pad15 lpad25 rpad25 tcent tmar15 dispin" %>
    </div>
  </div>
</div>
<div class="ht50 tealback tmar0 tpad0 bmar0 bpad0">
</div>
<div class="darkcyanback whitefont">
  <div class="row tpad50 bpad50">
    <div class="col-md-4 tcent bmar50">
      <div class="font2rem bline wid80per lmar10per bmar15">CONTACT US</div>
      <div class="font1point5rem lightgrayfont">Always on the Level<br> Septic Maintenance</div>
      <div>PO Box 993</div>
      <div>Boerne,TX 78006</div>
      <div>(210)378-6096</div>
      <div>mikedunn.alwaysonthelevel@gmail.com</div>
    </div>
    <div class="col-md-4 tcent bmar50">
      <div class="font2rem font2rem bline wid80per lmar10per bmar15">HOURS OF OPERATION</div>
      <div class="tcent dispin">
        <table class="tcent">
          <tr>
            <th>Monday</th>
            <th class="wid75"> </th>
            <th>7:00 am - 8:00 pm</th>
          </tr>
          <tr>
            <th>Tuesday</th>
            <th> </th>
            <th>7:00 am - 8:00 pm</th>
          </tr>
          <tr>
            <th>Wednesday</th>
            <th> </th>
            <th>7:00 am - 8:00 pm</th>
          </tr>
          <tr>
            <th>Thursday</th>
            <th> </th>
            <th>7:00 am - 8:00 pm</th>
          </tr>
          <tr>
            <th>Friday</th>
            <th> </th>
            <th>7:00 am - 8:00 pm</th>
          </tr>
          <tr>
            <th>Saturday</th>
            <th> </th>
            <th>9:00 am - 5:00 pm</th>
          </tr>
          <tr>
            <th>Sunday</th>
            <th> </th>
            <th>Closed answering phone only</th>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-4 tcent bmar50">
      <div class="font2rem bline wid80per lmar10per bmar15">OUR SERVICES</div>
      <div class="font1point5rem lightgrayfont">Septic Installation<br> </div>
      <div>Aerobic Septic Maintenance</div>
      <div>Lift Station Repairs</div>
    </div>
    <div class="wid100per rmar0 rpad0 tcent tpad0 dispin tcent">
      <%= link_to "Appointments by Request", welcome_contact_path, class: "font2point5rem btn turqbutton hvr hvr-sweep-to-right1 pad15 lpad25 rpad25 tcent tmar15 dispin tcent" %>
    </div>
  </div>
</div>
<div class="turqback whitefont">
  <div class="font1point5rem grayfont tpad15 bpad15 tcent">©2018 Always on the Level Septic Maintenance<br>All rights reserved |
      <%= link_to "Soli Deo Gloria", "https://www.sermonaudio.com/saplayer/playpopup.asp?SID=74091412491", class: "nodec grayfont", target: :_blank %>
  </div>
</div>
