<div class="installback tpad75 bpad75 picshad">
  <div class="font5rem bldfnt whitefont ralefont tcent tpad75 bpad75 txtshadowblack">About Us
  </div>
</div>
<div class="row tpad50 bpad50 rpad50">
  <div class="col-md-8 tealfont pull-left ralefont font2rem bolder lmar30 bmar25">WE TAKE GREAT CARE IN SERVING OUR CUSTOMERS EXCEPTIONALLY<br><br>
    <div class="grayfont pull-left ralefont font2rem bolder bmar25">With over 21 years of experience in the septic industry, Always On The Level Septic Maintenance has the expertise to complete any septic task in a timely manner and with no over the top cost. Displaying artisan skill in efficient aerobic septic maintenance, lift station repair, and septic installation, owner Mike Dunn has excavated over 200 pools and installed over 300 septic systems.  He attributes the success of Always On the Level Excavating first to the goodness of God. His dedication to working hard, dealing honestly with everyone, and being willing to go ‘the extra mile’ has made him a household name that customers graciously recommend to their friends and neighbors. His success would not have been attainable without these recommendations and Mike is very grateful to them.<br><br>Always On The Level Septic Maintenance is family owned and believe in providing honest and trustworthy septic maintenance catered to your ultimate satisfaction. If you’re looking for tried and true septic maintenance with professional know-how within Kendall County, Comal County, Kerr County, and north side of Bexar County TX., contact us at 210-378-6096, we always pick up our phone!
    </div>
    <%= link_to "Contact Us", welcome_contact_path, class: "font2point5rem btn blackbutton hvr hvr-sweep-to-right pad15 lpad25 rpad25 tcent tmar35 bmar25 posrel tcent" %>
  </div>
  <div class="col-md-3 txtalignc img-responsive rmar0 rpad0">
    <%= image_tag "https://s3.us-east-2.amazonaws.com/always-on-the-level/septic-concrete.jpg", class: "rpad0 tmar50 tpad0 picshad txtalignc lmar25" %>
  </div>
</div>
