<div class="installback tpad75 bpad75 picshad">
  <div class="font5rem bldfnt whitefont ralefont tcent tpad75 bpad75 txtshadowblack">Septic Installation
  </div>
</div>
<div class="row tpad50 bpad50 pad50 rpad50">
  <div class="col-md-8 tealfont pull-left ralefont font2rem bolder lmar30 bmar25">SPECIALIZING IN AEROBIC SEPTIC MAINTENANCE AND LIFT STATION REPAIRS<br><br>
    <div class="grayfont pull-left ralefont font2rem bolder bmar25">Septic installation is a lot more common in rural areas where houses are commonly spaced far apart, creating difficulties in supplying centralized sewer systems. Also known as underground wastewater treatment systems, septic systems are watertight, simplistic, and ecological as they do not require miles of environmentally destructive piping. Septic tank maintenance is not enough. Depending on the level of usage and soil conditions, proper septic system installation is critical to ensure system has a long, useful life.<br><br>Available in Kendall County only, we are the #1 authority for septic installation. Our fully licensed and skillful team offers expert advice to guarantee your septic installment will endure the test of time and seasonal change. We are family owned and deliver dependable septic installation with top-notch customer service.<br><br>Included in our septic installations are:
      <ul>
        <li>Design and permitting</li>
        <li>Septic installation</li>
        <li>Control panel inspecting</li>
        <li>Tank pumping procedure</li>
        <li>Septic drainfield installation</li>
        <li>Septic tank risers</li>
        <li>And more</li>
      </ul>
    </div>
    <%= link_to "Contact Us", welcome_contact_path, class: "font2point5rem btn blackbutton hvr hvr-sweep-to-right pad15 lpad25 rpad25 tcent tmar35 bmar25 posrel tcent" %>
  </div>
  <div class="col-md-3 tcent img-responsive rmar0 rpad0">
    <%= image_tag "septic-concrete.jpg", class: "rpad0 tmar50 tpad0 picshad tcent" %>
  </div>
</div>
