<div class="liftback tpad75 bpad75 picshad">
  <div class="font5rem bldfnt whitefont ralefont tcent tpad50 bpad75 txtshadowblack">Lift Station Repair
  </div>
</div>
<div class="row tpad50 bpad50 pad50 rpad50">
  <div class="col-md-8 tealfont pull-left ralefont font2rem bolder lmar30 bmar25">SPECIALIZING IN AEROBIC SEPTIC MAINTENANCE AND LIFT STATION REPAIRS<br><br>
    <div class="grayfont pull-left ralefont font2rem bolder bmar25">Septic lift stations use pumps and pipes used to increase your septic tanks’ wastewater elevation without the use of gravity. Their purpose is to pump water to a higher drain field than gravity flow would allow. This process results in much more reasonable maintenance due to the fact that the pipes are not as deep as traditional gravity conveyance septic tanks.<br><br>Always On The Level Septic Maintenance offers industry leading lift station repair at a cost-effective price. We take great pride in delivering optimal customer service, tailored to your exact needs, that will leave you and your family completely satisfied with our workmanship.<br><br>Our lift station repair includes:<br><br>
      <ul>
        <li>Unclogging</li>
        <li>Electrical boxes and switches</li>
        <li>Plumbing</li>
        <li>Pumps and motors</li>
        <li>Higher Flow</li>
        <li>Wastewater receiving well</li>
        <li>Pumps and piping with associated valves</li>
        <li>Equipment control</li>
        <li>Power supply system</li>
        <li>Alarm system</li>
        <li>Odor control system</li>
        <li>And more</li>
      </ul><br><br>
      If you’re in the market for expert lift station repair with amazingly attentive customer service, within Kendall County, Comal County, Kerr County, and north side of Bexar County TX., call us at 210-378-6096 today.
    </div>
    <%= link_to "Contact Us", welcome_contact_path, class: "font2point5rem btn blackbutton hvr hvr-sweep-to-right pad15 lpad25 rpad25 tcent tmar35 bmar25 posrel tcent" %>
  </div>
  <div class="col-md-3 tcent img-responsive rmar0 rpad0">
    <%= image_tag "septic-concrete.jpg", class: "rpad0 tmar50 tpad0 picshad tcent" %>
  </div>
</div>
