<div class="maintback tpad75 bpad75 picshad">
  <div class="font5rem bldfnt whitefont ralefont tcent tpad50 bpad75 txtshadowblack">Septic Maintenance
  </div>
</div>
<div class="row tpad50 bpad50 rpad50">
  <div class="col-md-3 tcent img-responsive rmar0 rpad0">
    <%= image_tag "https://s3.us-east-2.amazonaws.com/always-on-the-level/septic-concrete.jpg", class: "rpad0 tmar50 tpad0 picshad tcent lmar20" %>
    <%= link_to "Contact Us", contacts_create_path, class: "font2point5rem btn blackbutton hvr hvr-sweep-to-right pad15 lpad25 rpad25 tcent tmar50 bmar25 posrel tcent" %>
  </div>
  <div class="col-md-8 tealfont tcent ralefont font2rem bolder bmar25 lmar25">WE SPECIALIZE IN AEROBIC SEPTIC MAINTENANCE<br><br>
    <div class="lmar30 grayfont txtalignl ralefont font2rem bolder bmar25">Aerobic treatment systems are a great way to increase water efficiency around your property. These self-sufficient systems utilize forced air to increase the aerobic environment of your wastewater, allowing it to be repurposed for yard and plant irrigation. The only downside is that because of the complexity of the system, they require a considerable amount of routine aerobic septic maintenance.<br><br>This is where Alway On The Level Septic Maintenance can help you by honoring the two-year mandatory maintenance period upon installation at no additional cost to the owner. With your complete satisfaction as our goal, we provide trustworthy maintenance that is affordable and sincere.<br><br>Included in our aerobic septic maintenance is:<br><br>
      <ul>
        <li>Aerobic maintenance</li>
        <li>Emergency septic repairs</li>
        <li>Aerobic systems</li>
        <li>Routine & mandatory maintenance</li>
        <li>Aerobic treatment systems</li>
        <li>Repairing, adjusting, or replacing any broken or malfunctioning parts</li>
        <li>Testing and recording the free chlorine residual</li>
        <li>Volume of sludge</li>
        <li>Clarity tests</li>
        <li>Septic tank inspection and troubleshooting</li>
        <li>Septic chlorine tablets</li>
        <li>And plenty more</li>
      </ul>
    </div>
  </div>
</div>
